@charset "utf-8";
/* CSS Document */

body{ background-color:hsla(0,0%,90%,1.0); color: #00000;
}

a, a:link, a:visited, a:active, a:hover{
	color: #000000;
}
header{
	background-color: hsla(0,0%,60%,0.3);
}

nav{
	background-color: hsla(0,0%,60%,0.33);
}

section{
	background-color: hsla(0,0%,60%,0.36);
}

footer{
	background-color: hsla(0,0%,60%,0.4);
	
}
header:hover,nav:hover , section:hover, footer:hover {box-shadow: 0px 0px 20px 0px currentcolor;
	/*Esto mostrará una sombra cuando se hace hover */
}